<div class="container">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>